<div  *ngIf="userDetails">
<div class="jumbotron text-center">
    
    <h1 class="display-5">
      Choicees</h1>
        
      <img src="assets/img/pic1.jpg" id="icon" alt="shop Icon" />
      <div class="lead">
        Welcome to Choicees</div>

  </div>

<table class="table table-hover">
  <thead>
      <tr>
          <th colspan="2" class="text-center">User Profile</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Full Name</td>
          <td>{{userDetails.fullName}}</td>
      </tr>
         <tr>
          <td>Email</td>
          <td>{{userDetails.email}}</td>
      </tr>
      <tr>
          <td colspan="2" class="text-center">
              <input type="button" (click)="onLogout()" value="Logout" />
          </td>
      </tr>
  </tbody>
</table>


